* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10pt, for easy rem sizing */
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
}

.container {
  margin: auto;
  padding-top: 20px;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  border-radius: 40% 16% / 8% 20%;
  width: auto;
  height: auto;
  background-color: black;
  padding: 50px 20px 40px 30px;
}

.buttons {
  font-size: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 12px;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.button {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 6.4rem;
  height: 6.4rem;
  text-align: right;
  padding-right: 31px;
  margin-bottom: 20px;
  color: white;
}

.button {
  text-align: center;
}

#zero {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.number,
.decimal {
  background-color: grey;
  color: white;
}

.operator,
.equals {
  background-color: orange;
  color: white;
}

.clear,
.pos-neg,
.percent {
  background-color: lightgrey;
  color: black;
}

.button,
#zero {
  border-radius: 100px;
  transition: all 0.04s ease-out;
}

.actuate {
  /* increase the brightness of the background color for a moment */
  background-color: white;
}

.highlight {
  /* highlight continuously until removed */
  background-color: white;
  color: orange;
}

.small-text {
  font-size: 5rem;
}

.smaller-text {
  font-size: 3.8rem;
}

.smallest-text {
  font-size: 3rem;
}

.danger-1 {
  background-color: grey;
}

.danger-2 {
  background-color: darkred;
}

.danger-text {
  color: black;
}

.display-danger-text {
  color: hsl(0, 84%, 31%);
}
