* {
  box-sizing: border-box;
}
html {
  /* box-sizing: border-box; */
  font-size: 62.5%; /* 10pt, for easy rem sizing */
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
}

.container {
  margin: auto;
  padding-top: 20px;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  border-radius: 40% 16% / 8% 20%;
  width: auto;
  height: auto;
  /* display: grid; */
  background-color: black;
  /* padding: 50px 20px 30px; */
  padding: 50px 20px 40px 30px;
}

.buttons {
  font-size: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 12px;
}

.buttons > .button {
  border-radius: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  font-size: 6.4rem;
  text-align: right;
  padding-right: 31px;
  margin-bottom: 10px;
  /* border: 1px black solid; */
  color: white;
}

.button {
  text-align: center;
  /* border: 1px black solid; */
}

#zero {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 100px;
}

.number,
.decimal {
  background-color: grey;
  color: white;
}

.operator,
.equals {
  background-color: orange;
  color: white;
}

.clear,
.pos-neg,
.percent {
  background-color: lightgrey;
  color: black;
}
